name: Build Docker Images

on:
  push:
    branches: [main]
    paths: ['**/Dockerfile*']
  pull_request: # DELETEME
  workflow_dispatch:

jobs:
  builder:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: false
          swap-storage: true
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: builder
          file: builder/Dockerfile
          # load: true
          push: true
          tags: ghcr.io/${{ github.repository }}/builder:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # provenance: false

        # - name: Push image
        # run: docker push ghcr.io/${{ github.repository }}/builder:latest
