name: Build Docker Images

on:
  push:
    # TODO: change to main
    branches: [2-build-create-docker-image-with-desktop-qt-installations]
    paths: ['**/Dockerfile*']
  workflow_dispatch:

jobs:
  builder:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          file: builder/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/builder:latest
