name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  hadolint:
    runs-on: ubuntu-latest
    container: jdxcode/mise
    steps:
      - uses: actions/checkout@v4
      - name: Lint Dockerfiles
        run: |
          mise use -g hadolint
          find . -name "Dockerfile*" -type f -exec hadolint {} \;
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2
