name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint Dockerfiles
        run: find . -name "Dockerfile*" -type f -exec docker run --rm -i hadolint/hadolint < {} \;
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2
