name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint_dockerfiles:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install hadolint
        run: |
          curl -sL https://github.com/hadolint/hadolint/releases/download/v2.14.0/hadolint-Linux-x86_64 -o /usr/local/bin/hadolint
          chmod +x /usr/local/bin/hadolint
      - name: Lint Dockerfiles
        # run: |
        #   failed=0
        #   for file in $(find . -name "Dockerfile*" -type f); do
        #     hadolint "$file" || failed=1
        #   done
        #   exit $failed
        run: hadolint ./**/Dockerfile*
  lint_actions_workflows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2
